.nav  {
    padding-left: 150px;
    padding-right: 150px;
    display : flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px #666;
    border-radius: 5px;
}

.nav-right {
    display: flex;
    padding: 20px;
   
}

.logo { 
    width: 100px;
    height: 20px;
    margin-top: 20px;
    padding : 20px;
}


.main {
    display: flex;
    flex-direction: column;
}

.main-img {
    margin-top: 20px;
}

.item { 
    padding: 20px;
    color: #666;
    cursor: pointer;
}

.item:hover { 
    color: cornflowerblue;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    padding: 10px;
    background-color:rgb(150, 152, 220);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}